<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="#">Elite Golf</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/map_creator">Map Creator</a></li>
        <li><a href="#/course_creator">Course Creator</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Playing as: <%= @name %>  <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/log_in">Change Name</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="app-root"></div>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
      EliteGolfApp.initialize();
   });
</script>
