<div class='log-in-form'>
<h1>Welcome To Elite Golf</h1>
  <form action="/" method="get">
    <div class="form-group">
      <label for="golfer_name">golfer name:</label>
      <input type="text" class='form-control' name="golfer_name" id="name"/>
    </div>
    <input type="submit" name="" class="btn btn-success" id="" value="GOLF TIME" />
  </form>
</div>
