<h1>Welcome To Elite Golf</h1>
<form action="/" method="get">
  <label for="golfer_name">NAME:</label>
  <input type="text" name="golfer_name" id="name" value="" />
  <input type="submit" name="" id="" value="GOLF TIME" />
</form>
