<h3>Create a map!</h3>
<div class="form-group">
  <label for="">Map Name</label>
  <input type="text"  name="" class="form-control map-name" placeholder="map name" />
</div>
<div class="map-creator">
</div>
