/* ...
*= require_self
*= require_tree .
*/
@import "bootstrap-sprockets";
@import "bootstrap";

.log-in-form{
  max-width: 400px;
  margin: 0 auto;
  padding-top: 20px;
}
.golf-content{
  padding: 20px;
}
#golf-game{
  display: inline-block;
  width: 510px;
}
.score-table{
  display: inline-block;
  min-width: 200px;
  vertical-align: top;
}
.game-canvas {
  border: 1px solid #ddd;
}
.score-over {
  color: red;
}

.score-par {
  color: blue;
}

.score-under {
  color: green;
}
body {
  background-color: #EEFFE1;
}
